
.jumbotron{
    padding-top: 2rem ;
    background-color: rgb(171, 221, 241);
}
.jumbotron img{
    width: 200px;
    background-color: white;
}

#project {
    background-color: rgb(171, 221, 241);
}
.tap:hover{
    border-bottom: white 2px solid;
}
.tap-about{
    padding-bottom: 10px;
      border-bottom: solid 2px  rgb(171, 221, 241);
}